/vendor/
/node_modules/
/public/build/
/public/hot
/public/storage
/.env
/.idea/
/.vscode/*
!/.vscode/settings.json
/storage/*.key
/storage/app/*
!/storage/app/public
/storage/framework/*
!/storage/framework/cache
!/storage/framework/views
/storage/logs/*
!/.vscode/tasks.json
!/.vscode/tasks.json
storage/framework/sessions/
